---
Language: Cpp
BasedOnStyle: Google
Cpp11BracedListStyle: false
IndentPPDirectives: BeforeHash

IndentWidth: 2
IndentRequires: true
ContinuationIndentWidth: 2
ColumnLimit: 0

DerivePointerAlignment: false
PointerAlignment: Left

NamespaceIndentation: All
CompactNamespaces: false
FixNamespaceComments: true

AlignConsecutiveBitFields: true
BitFieldColonSpacing: Both

AlignTrailingComments: true

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortLambdasOnASingleLine: Inline

AlwaysBreakTemplateDeclarations: Yes
BreakBeforeConceptDeclarations: true
BreakBeforeTernaryOperators: false

SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
AlignOperands: DontAlign

AlignAfterOpenBracket: BlockIndent

ConstructorInitializerAllOnOneLineOrOnePerLine: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  AfterClass: false
  SplitEmptyFunction: false
  AfterControlStatement: false
  AfterNamespace: false
  AfterFunction: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

IncludeCategories:
  # Headers in <> without extension.
  - Regex:           '<([A-Za-z0-9\/-_])+>'
    Priority:        1
  # Headers in <> from specific external libraries.
  - Regex:           '<(flatbuffers|asio|gcem|gtest|magic_enum).h(pp|xx|h)>'
    Priority:        2
  # Headers in <> with extension.
  - Regex:           '<([A-Za-z0-9\/-_])+\.h(pp|xx|h)?>'
    Priority:        3
  # test harness headers
  - Regex:           '"((core|detail)\/)'
    Priority:        4
---
Language: CSharp
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  AfterClass: false
  SplitEmptyFunction: false
  AfterControlStatement: false
  AfterNamespace: false
  AfterFunction: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
---
Language: Proto
DisableFormat: true